# --- Python ---
python-3.11

# --- LLM and Core Frameworks ---
langchain
langchain-community
langchain-huggingface
huggingface-hub  
transformers    


# --- Vector Database and Search ---
faiss-cpu
chromadb

# --- Ollama Integration ---
langchain-ollama

# --- Data Processing and Embeddings ---
pandas
sentence-transformers

# --- UI ---
streamlit>=1.32
altair==4.2.2